<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

   <section class="rose d-flex justify-content-center align-items-center">
<div class="text-center">

     <h1 class="front-weight-bold"> smart contact manager</h1>
     <p>
         start collecting your contacts in very smarter way .we provide very efficient and smarter way of handling contacts
     </p>
     <button class="btn-bg-primary btn-lg text=white">  Get Start  </button>
     </div>
     
   </section>

</body>
</html>